<template>
  <div class="bg-blue-600 text-white p-6 text-center w-full">
    <h2 class="text-2xl font-bold text-white">
      ¡Inscríbete hoy y conviértete en un maestro del acordeón!
    </h2>
    <button
      class="mt-4 bg-black hover:bg-gray-800 text-white font-bold py-3 px-6 rounded-lg text-xl"
    >
      Contactar un Asesor
    </button>
  </div>
</template>
