<template>
  <section class="mt-10 max-w-6xl w-full">
    <h2 class="text-3xl font-bold text-gray-700">Descripción</h2>
    <p class="text-gray-700 mt-4">
      Este curso ha sido creado por el maestro Cocha Molina, un ícono del
      vallenato, para transmitir su conocimiento y pasión por el acordeón. A
      través de una metodología estructurada, cualquier persona, desde
      principiantes hasta músicos con experiencia, podrá aprender y perfeccionar
      su técnica con las enseñanzas de uno de los mejores exponentes del género.
    </p>
    <p class="text-gray-700 mt-4">
      Aquí aprenderás desde los fundamentos básicos hasta la interpretación de
      piezas tradicionales. Dominarás escalas mayores y menores, técnicas
      avanzadas de digitación, ejercicios de fuelleo y la ejecución de géneros
      como vallenato, música norteña, huapangos y polkas. Todo esto con el
      acompañamiento del maestro y su equipo.
    </p>
    <p class="text-gray-900 mt-4 italic">
      Este curso no solo te enseñará a tocar el acordeón, sino a sentir la
      música y transmitir emociones a través de cada nota. ¡Únete y haz parte de
      la historia musical con el maestro Cocha Molina!
    </p>
  </section>
</template>
