<template>
  <section class="mt-4 max-w-6xl w-full">
    <h2 class="text-6xl font-bold text-gray-700">Requisitos</h2>
    <ul class="list-disc pl-5 text-black mt-4 text-xl">
      <li>No es necesario tener un conocimiento previo.</li>
      <li>No es necesario contar con un acordeón de botones.</li>
      <li>
        <span class="font-bold">APRENDE CON EL TECLADO DEL COMPUTADOR</span>
      </li>
    </ul>
  </section>
</template>
