---
import astroLogo from "../assets/astro.svg";
import background from "../assets/background.svg";
import "../styles/global.css";
import logo from "../assets/logo.png";

---

<div
  class="overflow-auto w-screen h-screen bg-no-repeat bg-cover bg-center bg-[url('/src/assets/huellas.png')]"
>
  <header class="lg:px-16 px-4 flex flex-wrap items-center py-4 ">
	<div class="flex-1 flex justify-end items-center md:justify-between">
		<img
		  src="/logo.png"
		  alt="Logo de Huellas del Maestro"
		  class="w-35 md:w-48"
		/>
	  </div>
	  

    <!-- <label for="menu-toggle" class="pointer-cursor md:hidden block">
      <svg
        class="fill-current text-gray-600"
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="20"
        viewBox="0 0 20 20"
      >
        <title>menu</title>
        <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
      </svg>
    </label>
    <input class="hidden" type="checkbox" id="menu-toggle" /> -->

    <div class="hidden md:flex md:items-center md:w-auto w-full" id="menu">
      <nav>
        <ul
          class="md:flex items-center justify-between text-lg font-bold text-gray-600 pt-4 md:pt-0"
        >
          <li><a class="md:p-4 py-3 px-0 block hover:text-blue-800" href="https://huellasdelmaestro.com/">Inicio</a></li>
          <li><a class="md:p-4 py-3 px-0 block hover:text-blue-800" href="https://huellasdelmaestro.com/tienda-huellas-del-maestro-simulador-musica-cocha-molina/">Tienda</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <div class="w-[90%] mx-auto h-full flex items-center justify-between py-10">
    <div class="lg:w-fit">
      <div
        class="sm:text-6xl xs:text-5xl text-left text-white font-serif font-extrabold uppercase"
      >
        <h1>APRENDE</h1>
        <h1>EN</h1>
        <h1
          class="bg-black/50 text-white rounded-sm px-1 shadow-sm shadow-white/50"
        >
          48 HRS
        </h1>
        <h1>HOY</h1>
      </div>
      <div
        class="w-full flex items-center justify-between mt-6 py-1 px-4 uppercase bg-green-500 rounded-sm"
      >
        <h3 class="text-white text-lg font-semibold">adquiere el curso</h3>
        <div class="w-[40%] flex items-center text-gray-700 text-4xl gap-0">
          <hr class="w-full border border-gray-700 relative -right-3" />
          <ion-icon name="chevron-forward"></ion-icon>
        </div>
      </div>
      <p
        class="text-md text-white bg-black/60 font-semibold mt-1 rounded-lg p-2 text-justify"
      >
        Bienvenido a Huellas del Maestro <br> por el Maestro Cocha Molina aprende
		<br> a tocar el acordeon por medio de <br> nuestro simulador virtual.
      </p>
    </div>

    <div>
      <ul class="text-3xl text-white">
        <li
          class="flex  p-1 bg-black/40 rounded-full h-10"
        >
			<a href="https://www.facebook.com/huellasdelmaestrocm" target="_blank" rel="noopener noreferrer">
				<ion-icon name="logo-facebook" class="text-white text"></ion-icon>
		  	</a>
        </li>
        <li
          class="flex  p-1 bg-black/40 rounded-full mt-2 h-10"
        >
			<a href="https://www.instagram.com/elcochamolina/?hl=es" target="_blank" rel="noopener noreferrer">
          		<ion-icon name="logo-instagram"></ion-icon>
			</a>
        </li>
        <li
          class="flex  p-1 bg-black/40 rounded-full mt-2 h-10"
        >
			<a href="https://api.whatsapp.com/send?phone=573157384040&text=Estoy%20interesado%20en%20el%20curso%20de%20acordeón%20con%20el%20Cocha"
				target="_blank" 
				rel="noopener noreferrer">
				<ion-icon name="logo-whatsapp"></ion-icon>
			</a>
        </li>
      </ul>
      <li
        class="text-white justify-center items-center text-lg flex  p-1 bg-black/40 rounded-full mt-2 h-10"
      >
	  <a href="https://www.tiktok.com/@huellasdelmaestro" target="_blank" rel="noopener noreferrer">
        <ion-icon name="logo-tiktok"></ion-icon>
	  </a>
      </li>
    </div>
  </div>
</div>

<script
  type="module"
  src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script
  nomodule
  src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<style scoped>
  /**** Tailwind CSS maneja los estilos ****/
</style>

<style></style>
